.app {
  background-color: #165a72 !important;

}
.css-dip3t8
{
  background-color: #165a72 !important;
}

.css-wx7wi4
{
  color:white !important;
}
.css-12w9als
{
  color:white !important
  }
.css-1t8x7v1>.ps-menu-button:hover .css-12w9als  {
color:#165a72 !important ;
}
.css-1t8x7v1>.ps-menu-button:hover .css-wx7wi4 {
  color: #165a72 !important;
}
.css-1t8x7v1>.ps-menu-button:hover
{
  border: 1px solid #165a72;
}
